<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./font.css">
    <link rel="stylesheet" href="./mdi.min.css">
    <link rel="stylesheet" href="./vuetify.min.css">
    <!-- 使用material design 图标 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <script src="./vue.js"></script>
    <script src="./vuetify.js"></script>

    <title>布兰.P__'s主页</title>
</head>
<body>
    <div id="app">
        <v-app>

                    <v-expansion-panels
            v-model="panel"
            :disabled="disabled"
            multiple dark
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>Welcome to my homepage</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-container grid-list-sm>
                            <v-layout row wrap>
                                <v-flex xs6 md4 v-for="item in category" :key=i>
                                    <a :href=item.link>
                                        <v-card color='grey darken-3'>
                                            <v-card-text class="px0">{{item.name}}</v-card-text>
                                        </v-card>
                                     </a>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>


            <v-main>
                <div class="ma-10">
                    <h1>Welcome!</h1>
                    <h2>欢迎来到我的个人主页</h2>
                    <p>under construction...</p>
                </div>
            </v-main>

            <v-footer padless app dark>
                <v-col 
                  class="text-center pb-0"
                  cols="12"
                >
                  ----·-·-·-·- {{ new Date().getFullYear() }}, the <strong>Mainpage of Bran.P</strong> -·-·-·-·----
                </v-col>
              </v-footer>
        </v-app>
    </div>


    <script>
        new Vue({
            el:"#app",
            vuetify: new Vuetify(),
            data(){
                return{
                    category:[
                        {name:"随笔",link:"notes.html"},
                        {name:"有点爱你",link:"./love-code/love-code.html"},
                        {name:"建筑"},
                        {name:"模型"},              
                        {name:"简历"},
                        {name:"GAME",link:"./rotategame/display.html"},
                    ]
                }
            }
        })
    </script>
   
</body>
</html>
